<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908057149580-rhakqkgkg55of7kndrt6sc9j6qr1vidl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908057149580-rhakqkgkg55of7kndrt6sc9j6qr1vidl</string>
	<key>API_KEY</key>
	<string>AIzaSyCVFsfkUZkZ7veXuVQBEx7wPGJv8gcK6Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>908057149580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YC.MemoryCard</string>
	<key>PROJECT_ID</key>
	<string>memorycard-34572</string>
	<key>STORAGE_BUCKET</key>
	<string>memorycard-34572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908057149580:ios:5bcc6105c55de72a403ba9</string>
</dict>
</plist>